<div class="container" *ngIf = "team" >
      <img src="https://squiggle.com.au/{{team.logo}}" width="50" height="50" class="d-inline-block align-top" alt=""> {{team.name}}     
</div>
<div class="btn-group btn-group-lg" role="group" aria-label="Basic example" *ngIf="team">
    <button (click)="getName('ppoo')" type="button" class="btn btn-secondary">results</button>
    <button (click)="getName('mool')" type="button" class="btn btn-secondary">upcomming</button>
    <button (click)="getName('prediction')" type="button" class="btn btn-secondary">prediction</button>
    <button (click)="getName('left')" type="button" class="btn btn-secondary">rival</button>
</div>


<!-- games results -->
<!-- <div class="container">   
    <div class="row" *ngIf = "team"} >
        <div id="result" class="col-md-12 mt-2" *ngFor ="let game of games | slice:0:4;">
            <p><strong> Home Team</strong> <br>{{game.hteam}}</p>
            <p><strong> Score </strong><br>{{game.hscore}}-{{game.ascore}}</p>
            <p><strong> Away Team</strong> <br>{{game.ateam}}</p>
            <br>
            <p><strong> Winner </strong><br>{{game.winner}}</p>
        </div>
    </div>
</div> -->

<!-- venues -->
<!-- <div class="container">   
    <div class="row" *ngIf = "name=='prediction'">
        <div id="result" class="col-sm-6 mr-2 mb-2" *ngFor ="let game of games">
            <p><strong>Venue</strong> <br>{{game.venue}}</p>
        </div>
    </div>
</div> -->

<!-- prediction -->
<div class="container" *ngIf = "name=='prediction'">
    <table class="table text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col" >Home Team</th>
                <th scope="col" >Away Team</th>
                <th scope="col" >Tip</th>
                <th scope="col" >Source</th>
            </tr>
        </thead>

        <tr *ngFor="let t of tips">
            <td>{{t.hteam}}</td>
            <td>{{t.ateam}}</td>
            <td>{{t.tip}}</td>
            <td>{{t.source}}</td>
        </tr>
    </table>
    <br><br>
</div>



<!-- <div class="container text-center">
    <h2>Teams</h2> 
    <div class="row">
        <div id="teamE" class="col-sm-2 mr-2 mb-2" *ngFor="let team of teams" (click)="onSelect(team)">
            <img src="https://squiggle.com.au/{{team.logo}}">
        </div>
    </div>
<app-team-result [team]="selectedTeam"></app-team-result>
</div> -->
