<div class="container" *ngIf = "team" >
      <img src="https://squiggle.com.au/{{team.logo}}" width="50" height="50" class="d-inline-block align-top" alt=""> {{team.name}}     
</div>
<div class="btn-group btn-group-lg" role="group" aria-label="Basic example" *ngIf="team">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Results
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" (click)="getName('all')" >All Games</a>
          <a class="dropdown-item" (click)="getName('won')" >Games Won</a>
          <a class="dropdown-item" (click)="getName('played')" >Games Played</a>
        </div>
      </div>
    <button (click)="getName('mool')" type="button" class="btn btn-secondary">upcomming</button>
    <button (click)="getName('prediction')" type="button" class="btn btn-secondary">prediction</button>
    <button (click)="getName('left')" type="button" class="btn btn-secondary">rival</button>
</div>

<!-- all games -->
<div class="container">   
    <div class="row" *ngIf = "name=='all'">
        <div id="result" class="col-sm-6 mr-2 mb-2" *ngFor ="let game of games">
            <p><strong> Home Team</strong> <br>{{game.hteam}}</p>
            <p><strong> Score </strong><br>{{game.hscore}}-{{game.ascore}}</p>
            <p><strong> Away Team</strong> <br>{{game.ateam}}</p>
            <br>
            <p><strong> Winner </strong><br>{{game.winner}}</p>
        </div>
    </div>
</div>

<!-- won only -->
<div class="container">   
    <div class="row" *ngIf = "name=='won'">
        <div id="result" class="col-sm-12 mr-2 mb-2" *ngFor ="let game of gameswon">
            <p><strong> Home Team</strong> <br>{{game.hteam}}</p>
            <p><strong> Score </strong><br>{{game.hscore}}-{{game.ascore}}</p>
            <p><strong> Away Team</strong> <br>{{game.ateam}}</p>
            <br>
            <p><strong> Winner </strong><br>{{game.winner}}</p>
        </div>
    </div>
</div>

<!-- played only -->
<div class="container">   
    <div class="row" *ngIf = "name=='played'">
        <div id="result" class="col-sm-6 mr-2 mb-2" *ngFor ="let game of gamesPlayed">
            <p><strong> Home Team</strong> <br>{{game.hteam}}</p>
            <p><strong> Score </strong><br>{{game.hscore}}-{{game.ascore}}</p>
            <p><strong> Away Team</strong> <br>{{game.ateam}}</p>
            <br>
            <p><strong> Winner </strong><br>{{game.winner}}</p>
        </div>
    </div>
</div>

<!-- next games -->
<div class="container">   
    <div class="row" *ngIf = "name=='mool'">
        <div id="result" class="col-sm-6 mr-2 mb-2" *ngFor ="let game of gamesUpp | slice:0:4;">
            <p><strong> Home Team</strong> <br>{{game.hteam}}</p>
            <p><strong> Score </strong><br>{{game.hscore}}-{{game.ascore}}</p>
            <p><strong> Away Team</strong> <br>{{game.ateam}}</p>
            <br>
            <p><strong> Winner </strong><br>{{game.winner}}</p>
        </div>
    </div>
</div>
<!-- venues -->
<!-- <div class="container">   
    <div class="row" *ngIf = "name=='prediction'">
        <div id="result" class="col-sm-6 mr-2 mb-2" *ngFor ="let game of games">
            <p><strong>Venue</strong> <br>{{game.venue}}</p>
        </div>
    </div>
</div> -->

<!-- prediction -->
<div class="container" *ngIf = "name=='prediction'">
    <table class="table text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col" >Home Team</th>
                <th scope="col" >Away Team</th>
                <th scope="col" >Tip</th>
                <th scope="col" >Source</th>
            </tr>
        </thead>

        <tr *ngFor="let t of tips">
            <td>{{t.hteam}}</td>
            <td>{{t.ateam}}</td>
            <td>{{t.tip}}</td>
            <td>{{t.source}}</td>
        </tr>
    </table>
    <br><br>
</div>



