#teamUL{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    width: auto;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 6.2rem;
    flex-wrap: nowrap;
    #logo{
        background: lightgray;
        flex: 1;
        position: relative;
        // width: 100%;
        img{
            height: 100%;
            width: 100%;
        }
    }
}


// .container{
//     justify-content: center;
//     align-content: center;
//     // text-align: center;
// }
// #team{
//     background: darken($color: #eeeeee, $amount: 10);
// }
// #tipE{
//     // display: flex;
//     background: darken($color: #eeeeee, $amount: 10);
// }

//     ul{
//         list-style-type: none;
//         margin: 0;
//         padding: 0;
//         display: flex;
//         flex-wrap: wrap;
//         li{
//             background: rgb(238, 238, 238);
//             //background:lightgrey;
//             padding: 1em;
//             margin-right: 10px;
//             width: 20%;
//             height: 200px;
//             margin-bottom: 1em;
//             display: flex;
//             flex-direction: column;
//             text-align: center;
//             .name{
//                 font-weight: bold;
//                 font-size: 1.2rem;
//             }
//         }
//     }
// }
