<div class="container text-center">
    <div class="row">
        <div id="team" class="col-md-3 mr-2 mt-2" *ngFor="let team of teams">
            <p>{{team.name}}</p>
            <p><img src="https://squiggle.com.au/{{team.logo}}"></p>
        </div>
    </div>
</div>


<!--Teams list-->
<!-- <div>
    <table style="border-style:solid;">
        <tr>
            <th>Team</th>
            <th>Logo</th>
        </tr>

        <tr *ngFor="let team of teams">
            <td>{{team.name}}</td>
            <td><img src="https://squiggle.com.au/{{team.logo}}"></td>
        </tr>
    </table>
    <br><br>
</div> -->

<!--Results for a round of games-->
<!-- <div>
    <table style="text-align:center;">
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Score</th>
            <th>Winer</th>
        </tr>

        <tr *ngFor="let game of games">
            <td>{{game.hteam}}</td>
            <td>{{game.ateam}}</td>
            <td>{{game.hscore}}-{{game.ascore}}</td>
            <td>{{game.winner}}</td>
        </tr>
    </table>
    <br><br>
</div> -->

<!--Tips for a round of games-->
<!-- <div class="container">
    <div class="row">
        <div id="tipE" class="col-md-3 mr-2 mt-2" *ngFor ="let t of tips">
            <p><strong> Home Team</strong>{{t.hteam}}</p>
            <p><strong> Away Team</strong>{{t.ateam}}</p>
            <p><strong> Tip</strong>{{t.tip}}</p>
            <p><strong> source</strong>{{t.source}}</p>
        </div>
    </div>
</div> -->



<div>
    <table style="text-align:center;">
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Tip</th>
            <th>Source</th>
        </tr>

        <tr *ngFor="let t of tips">
            <td>{{t.hteam}}</td>
            <td>{{t.ateam}}</td>
            <td>{{t.tip}}</td>
            <td>{{t.source}}</td>
        </tr>
    </table>
    <br><br>
</div>