
<div class="container-fluid text-center">
    <div class="row">
        <div id="teamE" class="col mt-2 mr-2 mb-2" *ngFor="let team of teams | slice:0:9;" (click)="onSelect(team)">
            <img class="mw-100" src="https://squiggle.com.au/{{team.logo}}" alt="Max-width 100%">
        </div>
    </div>
    <div class="row">
        <div id="teamE" class="col mt-2 mr-2 mb-2" *ngFor="let team of teams | slice:9:18;" (click)="onSelect(team)">
            <img class="mw-100" src="https://squiggle.com.au/{{team.logo}}" alt="Max-width 100%">
        </div>
    </div>
    
<app-team-result [team]="selectedTeam"></app-team-result>
</div>

<!-- 
<div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
      </div>
    </div>
  </div> -->

<!-- <div class="container text-center">
    <div id="teamUl" class="row">
        <div id="team" class="col-sm-1 mr-2 mt-2" *ngFor="let team of teams">
            <img id="logoImg" src="https://squiggle.com.au/{{team.logo}}">
        </div>
    </div>
</div> -->


<!--Teams list-->
<!-- <div>
    <table style="border-style:solid;">
        <tr>
            <th>Team</th>
            <th>Logo</th>
        </tr>

        <tr *ngFor="let team of teams">
            <td>{{team.name}}</td>
            <td><img src="https://squiggle.com.au/{{team.logo}}"></td>
        </tr>
    </table>
    <br><br>
</div> -->

<!--Results for a round of games-->
<!-- <div>
    <table style="text-align:center;">
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Score</th>
            <th>Winer</th>
        </tr>

        <tr *ngFor="let game of games">
            <td>{{game.hteam}}</td>
            <td>{{game.ateam}}</td>
            <td>{{game.hscore}}-{{game.ascore}}</td>
            <td>{{game.winner}}</td>
        </tr>
    </table>
    <br><br>
</div> -->

<!--Tips for a round of games-->
<!-- <div class="container">
    <div class="row">
        <div id="tipE" class="col-md-3 mr-2 mt-2" *ngFor ="let t of tips">
            <p><strong> Home Team</strong>{{t.hteam}}</p>
            <p><strong> Away Team</strong>{{t.ateam}}</p>
            <p><strong> Tip</strong>{{t.tip}}</p>
            <p><strong> source</strong>{{t.source}}</p>
        </div>
    </div>
</div> -->



<!-- <div>
    <table style="text-align:center;">
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Tip</th>
            <th>Source</th>
        </tr>

        <tr *ngFor="let t of tips">
            <td>{{t.hteam}}</td>
            <td>{{t.ateam}}</td>
            <td>{{t.tip}}</td>
            <td>{{t.source}}</td>
        </tr>
    </table>
    <br><br>
</div> -->