$primary: #071e3d;

.navbar{
    background: $primary;
    padding: 0.5rem 8rem;
}

#logoAfl{
    height: 5em;
    width: 7em;    
}

#navbarNav > ul > li:nth-child(n) > a{
    color: white;
    padding: 1em;

        &:hover {
                    background: darken($primary, $amount: 10%);
                }
}
#navbarNav > button{
    background:rgb(46, 156, 46);
    border-color: $primary;
    font-weight: 700;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}
@media screen and (max-width:988px) {
    .navbar{
        padding: 1rem;
    }
    
}